*         {
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(./images/mountain2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/*.runway{
    height: 200px;
    width: 100%;
    background-image: url(./images/road\ side\ \(1\).jpg);
    position: absolute;
    left: 0;
    bottom: 0;
}*/
.airplane-1{
    width: 500px;
    position: absolute;
    bottom: 130px;
    left: -30px;
    animation: plan 4s linear infinite;
    transform-origin: 100% 50%;
}
.airplane-2{
    direction: inherit;
    width: 500px;
    position: absolute;
    bottom: -70px;
    left: 0;
    animation: plan 4s linear infinite;
    transform-origin: 100% 50%;
}
@keyframes plan{
    0%{
        transform: translateX(+0px) translateY(0px) rotate(0deg);
    }
        30%{
        transform: translateX(+500px) translateY(0px) rotate(0deg);
    }
        100%{
        transform: translateX(+1500px) translateY(-200px) rotate(-20deg);
    }
}
.airplane-3{
    direction: inherit;
    width: 500px;
    position: absolute;
    bottom: 80px;
    right: 20px;
    animation: dive 4s linear infinite;
    transform-origin: 100% 50%;
}
@keyframes dive{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
        30%{
        transform: translateX(-500px) translateY(0px) rotate(0deg);
    }
        100%{
        transform: translateX(-1500px) translateY(-200px) rotate(20deg);
    }
}

